.imgContacto{
    width: 100%;
    height: 100%;
}

.divContacto{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". .";
    width: 600px;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0px 0px 20px 5px rgb(221, 221, 221)
}

.tituloForm{
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 10px;
}

.textCompl{
    font-size: small;
    color: gray;
    padding: 3px;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-nombre{
    height: 30px;
}

.form-email{
    height: 30px;
}

.form-textarea{
    height: 100px;
}

.btnForm{/*boton*/
    text-decoration: none;
    padding: 2px;
    color:#356d65ff;
    font-weight: 500;/*ancho de le letra*/
    background-color: #f1cbb5ff;
    border-radius: 4px;
}

.btnForm:hover{   
    background-color:#356d65ff;
    color:#f7ecdfff;
}
@media (max-width: 650px){

    .divContacto{
        display: flex;
        flex-direction: column;
        width: 300px;
    }

}