.divNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container{
    display: flex;
    justify-content: center;
}

.nav__item{
    margin-left: 0.4rem;
    list-style: none;
    font-size: x-small;
}

.nav__logo{
    height: 20px;
    margin-right: 0.2rem;
}

.nav__brand{
    height: 45px;
}
/*---------------------------------------------------------*/

/*inicio de los estilos a partir de los 600px*/
@media (min-width:600px) { 

    .nav__logo{
        height: 30px;
        margin-right: 1rem;
    }
    
    .nav__brand{
        height: 70px;
        margin-right: 2rem;
    }

    .nav__item{
        margin-right: 2rem;
        list-style: none;
        font-size: small;
    }

}

/*inicio de los estilos a partir de los 600px*/
@media (min-width:1000px) { 

    .nav__logo{
        height: 40px;
        margin-right: 2rem;
    }
    
    .nav__brand{
        height: 90px;
        margin-right: 2rem;
    }

    .nav__item{
        margin-right: 2rem;
        list-style: none;
        font-size: large;
    }

}