/*
$colorPri:  #356d65ff;
$colorSec:  #f1cbb5ff;
$colorTer:  #f7ecdfff;
$colorWhite:#FFFFFF;
*/

* 
::before,
::after{/*incluíran cualquier borde o relleno que se añadan, y la caja de contenido se encogerá para absorber ese ancho extra.*/
    box-sizing: border-box;
}

*{ /* reseteo CSS*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 100%;/*para que el grid ocupe el 100% de la pagina%*/
    text-align: center;
    height: 100%;   
    font-family: 'Roboto Condensed', sans-serif;
}

.tienda{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.card{
    width: 160px;
    height: 255px;
    margin: 10px 5px 20px 5px;
    background-color: rgba(231, 231, 231, 0.63);
    display: flex;
    box-sizing:border-box ;
    flex-direction: column;            
    text-align: start;
}

.card:hover{/*animacion de sombra sobre el articulo*/
    box-shadow: 6px 6px 10px  rgba(0,0,0,0.47); 
    transition-duration: 0.4s; 
}

.imgCard{
    box-sizing: border-box;
    width: 100%;
    object-fit: contain;
}
.div_imgCard{
    height: 160px;
    overflow: hidden;
}

.divProPreBot{
    padding: 0px 10px 0px 10px;
}

.tituloCard{
    font-size:medium;
    color:#356d65ff;
    margin: 5px 0px 0px 0px;
}

.divImgCard:hover {
    transform:scale(1.1);
    transition: 0.5s ;
}

.divImgCard{
    overflow: hidden;
}

.precioCard{
    margin: 5px 0px 0px 0px;
    font-size:medium;
    color:#356d65ff;
}

.btnComprarCard{
    font-size: medium;
    color:#356d65ff;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px 3px 3px 3px;
    background-color:#f1cbb5ff;
    margin-top: 5px;
}

.btnComprarCard:hover {
    background-color:#356d65ff;
    color:#f7ecdfff;
}

/*---------------------------------------------------*/

/*es el menu que filtra los productos*/
.navSelecProducts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#356d65ff ;
}

.activeClass{ /*  el boton que esta activo */
    font-weight: 700;
    color: white;
}

.linksProducts a{
    font-size: medium;
    text-decoration: none;
    color:white;
    letter-spacing: 1px;
}

.linksProducts :hover{
    color: black;
    font-weight: 600;
}

/*---------------------------------------------------------*/

/*inicio de los estilos a partir de los 600px*/
@media (min-width:600px) { 
    
    .tienda{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        justify-items: center;
    }
    
   /*---------------------------------------------------*/
   /*Menu que filtra los productos*/
    .linksProducts a{
        font-size: large;
    }
}

/*---------------------------------------------------------*/

/*inicio de los estilos a partir de los 1000px*/
@media (min-width:1000px){

    .tienda{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }

   /*---------------------------------------------------*/
   /*Menu que filtra los productos*/
   .linksProducts a{
        font-size: x-large;
    }
 
}
